html
{
	height:100%;
	width:100%;
}
body
{
	margin:0 auto 0;
	background-image:url(./img/grey_wash_wall/grey_wash_wall.png);
	height:100%;
	width:100%;
}
.custompass2
{
	display:none;
}
div.nav-wrapper
{
	margin-top:0px;
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:32px;
	background-image:url(./img/triangular_@2X.png);
	background-repeat:repeat-x;
	background-position:left top;
}
div.main-class
{
	margin-top:32px;
}
div.submit
{
    width="40px";
    height="20px";
    background-color:white;
}
div.mywindow
{
	background-image:url(./img/triangular_@2X.png);
}
table
{
	height:80%;
	width:80%;
    border-spacing:15px;
}
table.main-table
{
	margin-left:10%;
	margin-right:10%;
}
tr,td
{
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    text-align:center;
}
td
{
	background-image:url(./img/triangular_@2X.png);
	height:40%;
	width:40%;
}
